/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #fffef8;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center; 
}
.title-container i {
  margin-bottom: 20px;
  margin-left: 15px;
}
.edit_button {
  background-color: transparent; 
  font-size: 16px; 
  cursor: pointer;
  display: flex;
  align-items: center; 
  border: none;
  margin-bottom: 20px;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

/*** Style bouton filtre ***/

#filter-buttons {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  margin: 20px 0;
}

#filter-buttons .btn {
  padding: 10px 20px;
  border: 2px solid #004d3e;
  border-radius: 20px;
  background-color: white;
  color: #004d3e;
  font-family: "Syne";
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#filter-buttons .btn.active {
  background-color: #004d3e;
  color: white;
}

#filter-buttons .btn:hover {
  background-color: #004d3e;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/**** Login Page ****/
.bold {
  font-weight: 600;
}
li img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

#login {
  margin-bottom: auto;
  padding: 200px 200px 0px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#login form {
  display: flex;
  flex-direction: column;
  width: 397px;
  gap: 15px;
}
#login label {
  margin-top: 25px;
}

#login input {
  background-color: #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  height: 51px;
  border: none;
}
#login button {
  background-color: #1d6154;
  color: #ffffff;
  font-family: "Syne";
  width: 179px;
  height: 36px;
  text-align: center;
  margin: 37px auto 0 auto;
  border-radius: 60px;
  border: none;
}

#login button:hover {
  cursor: pointer;
}

#login a {
  color: #3d3d3d;
  text-align: center;
  margin-top: 25px;
}

/*** Modale ***/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.modal_close {
  position: absolute;
  cursor: pointer;
  top: 26px;
  right: 30px;
}

.modal_close i {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.modal_body {
  margin-left: 104px;
  margin-right: 105px;
}

.modal_gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 35px;
  padding-bottom: 67px;
}

.project-item {
  position: relative;
  overflow: hidden;
}

.project-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal_header h2 {
  color: black;
  font-size: 26px;
  font-weight: 400;
}

.modal_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_footer_line {
  border: 1px solid;
  width: 480px;
}
.modal_footer_button {
  color: white;
  background-color: #1d6154;
  border-radius: 60px;
  font-weight: 700;
  margin: 2em auto;
  width: 180px;
  height: 36px;
}
